{% extends 'shop/basic.html' %}

{% block title %} title of about {% endblock %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome cart</h1>
      <p>My Awesome Cart, Inc., is an Indian multinational technology company based in Seattle that focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It has been referred to as one of the top four or five technology companies by share price
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>History</h2>
        <p>Jeff Bezos founded Amazon in July 1994. He chose Seattle because of technical talent as
          Microsoft is located there.[30] In May 1997, the organization went public.
          The company began selling music and videos in 1998, at which time it began operations
          internationally by acquiring online sellers of books in United Kingdom and Germany.
          The following year, the organization also sold video games, consumer electronics, home-improvement items, software, games, and toys in addition to other items</p>
      </div>
      <div class="col-md-4">
        <h2>Help</h2>
        <p>For simple searches, there is a search box at the top of every page. Type what you are looking for in the box. Partial matches will appear in a dropdown list. Select any page in the list to go to that page. Or, select the magnifying glass "Go" button, or press ↵ Enter, to go to a full search result. For advanced searches, see Help:Searching.</p>
      </div>
      <div class="col-md-4">
        <h2>Product and Services</h2>
        <p>Amazon.com's product lines available at its website include several media (books, DVDs, music CDs, videotapes and software), apparel, baby products, consumer electronics, beauty products, gourmet food, groceries, health and personal-care items, industrial & scientific supplies, kitchen items, jewelry, watches, lawn and garden items, musical instruments, sporting goods, tools, automotive items and toys & games.[citation needed] In August 2019, Amazon applied to have a liquor store in San Francisco, CA as a means to ship beer and alcohol within the city.[47] Amazon has separate retail websites for some countries and also offers international shipping of some of its products to certain other countries.</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>




{% endblock %}